body{
image-resolution: 100%;



}
#heading{background-color: rgb(0, 0, 0);
    color: wheat;
    border: 5px solid rgb(87, 231, 85);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;

}
a{  text-decoration:none;
color:  wheat;
}
.olp{
    border: 10px solid greenyellow ;
    border-radius: 40px;height: 100px; width: 300px; font-size: x-large; 
    background-color:rgb(2, 71, 2);
    margin-left: 39px;
    margin-top: 85px;
    padding-top: 35px;
    padding-left: 12px;
    font-size: large;
    font-size: 30px;
    
 }
.olp1{
    border: 10px solid rgb(36, 67, 0) ;
    border-radius: 40px;height: 100px; width: 600px; font-size: x-large; 
    background-color:rgba(11, 11, 11, 0.905);
    margin-left: 309px;
    margin-top: 5px;
    padding-top: 35px;
    padding-left: 102px;
    position: absolute;
    top: 300px;
    
 }
 #sp{
    padding-right: 22px;
        border-right-width: 8px;
        margin-right: 682px;
        display:flex ;
 }
 .blcs{
    
    margin-left: 15px;
    margin-right: 5px;
    border-right-width: 25px;
    padding-right: 0px;
    padding-left: 0px;
 }
#heading{
    background-color: rgb(0, 0, 0);
    color: wheat;
    border: 5px solid rgb(87, 231, 85);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    line-height:45%;
}
#head{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
}
.head{
    align-items: center;
    color:orange;
}
#sp{
    
    border-width: 05px;
    border-radius: 50px;
    padding: 10px;
}
.i5{
    line-height:35%
    color: wheat;
    line-height:100%;
    background-color:green;
    font-size:large;    
}
td{
    padding-left:70px;
    padding-right:70px;
    padding-top:10x;
    color: orange;
   
    border-color:rgb(1, 11, 12) ;
}
#new{ 
    border-color: solid black;
    color: rgb(242, 244, 100);
    background: rgb(240, 201, 27);
    border-radius: 600px;
    height: 450px;
    width: 450px;
    padding-top: 1px;
    padding: 2%;
}
#new1{ 
    border-color: solid black;
    color: rgb(0, 3, 1);
    background: rgb(251, 221, 137);
    border-radius: 600px;
    height: 450px;
    width: 450px;
    padding-top: 1px;
    padding: 2%;
}
.blank{
    background-color:;
}
#form{
    
    border:10px dashed rgb(255, 34, 0);
    padding-top: 1px;
    padding-left: 250px:50px;
    
    width:300px;
}
#tabst{
    font-size: 200%;
    background-color: rgb(0, 0, 0);
    color: wheat;
    border: 5px solid rgb(255, 249, 60);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    ;
}
#tabvg{
    font-size: 200%;
    background-color: rgb(0, 0, 0);
    color: wheat;
    border: 5px solid rgb(43, 255, 0);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    ;
}
#tabnvg{
   
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    line-height:45%;
    font-size: 200%;
    background-color: rgb(0, 0, 0);
    color: wheat;
    border: 5px solid rgb(240, 24, 9);
    border-radius: 20px;
    text-align: center;
    padding: 15px;
    margin-top: 20px;
    line-height:85%;
}
